In [1]:
!pip3 install pandas

Collecting pandas
  Downloading https://files.pythonhosted.org/packages/6b/dc/3a88b7bf8437f3f052fc90de72f28c06248142821a7f108e10ff3be5eb59/pandas-0.23.4-cp37-cp37m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (14.4MB)
    100% |████████████████████████████████| 14.4MB 2.0MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.7/site-packages (from pandas) (1.15.4)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.7/site-packages (from pandas) (2.7.5)
Collecting pytz>=2011k (from pandas)
  Downloading https://files.pythonhosted.org/packages/f8/0e/2365ddc010afb3d79147f1dd544e5ee24bf4ece58ab99b16fbb465ce6dc0/pytz-2018.7-py2.py3-none-any.whl (506kB)
    100% |████████████████████████████████| 512kB 16.5MB/s ta 0:00:01
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/site-packages (from python-dateutil>=2.5.0->pandas) (1.11.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-0.23.4 pytz-2018.7

In [3]:
!pip3 install pypyodbc

Collecting pypyodbc
  Downloading https://files.pythonhosted.org/packages/ea/48/bb5412846df5b8f97d42ac24ac36a6b77a802c2778e217adc0d3ec1ee7bf/pypyodbc-1.3.5.2.zip
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/site-packages (from pypyodbc) (40.5.0)
Building wheels for collected packages: pypyodbc
  Running setup.py bdist_wheel for pypyodbc ... done
  Stored in directory: /Users/richard/Library/Caches/pip/wheels/e4/92/18/b21aa15a7e8915859a6fc10206cdd7f5d9ac098a523b9738c6
Successfully built pypyodbc
Installing collected packages: pypyodbc
Successfully installed pypyodbc-1.3.4

In [4]:
import numpy as np
import pandas as pd
 
import pandas.io.sql as psql
import pypyodbc

In [ ]:
print

In [5]:
conn = pypyodbc.connect('DSN=dockersql;DATABASE=fixtures_v2;UID=sa;PWD=Passw0rd')

In [6]:
waitstats = psql.read_sql('SELECT top 10 * from vwCSV_3', conn)
waitstats.head(10)

,fixtureid,season,leagueid,fixdate,hometeamid,fthg,awayteamid,ftag,ht_elo_prev,at_elo_prev,...,awayteamresult,hometeam,awayteam,fthg_3,ftag_3,fthg_5,ftag_5,homeodds,drawodds,awayodds
0,5,2016,3,2017-03-04,4,1,25,1,1687,1770,...,D,Bolton Wanderers,AFC Wimbledon,2.000000,0.000000,1.6,0.0,1.91,3.30,4.10
1,1,2013,4,2014-05-03,49,3,25,2,1790,1735,...,L,Accrington Stanley,AFC Wimbledon,0.666667,1.000000,1.4,0.5,2.25,3.20,2.90
2,6,2017,3,2017-09-16,26,0,25,1,1623,1459,...,W,Blackburn Rovers,AFC Wimbledon,2.000000,0.000000,1.4,0.2,1.60,3.75,5.75
3,7,2017,3,2017-09-02,27,1,25,0,1544,1507,...,L,Blackpool,AFC Wimbledon,2.000000,0.333333,1.8,0.2,2.35,3.25,2.95
4,2,2014,4,2014-09-13,49,1,25,0,1479,1507,...,L,Accrington Stanley,AFC Wimbledon,1.666667,1.500000,1.8,1.0,2.65,3.20,2.45
5,3,2015,4,2015-10-20,49,3,25,4,1620,1539,...,W,Accrington Stanley,AFC Wimbledon,2.333333,1.000000,1.8,1.0,2.40,3.30,2.60
6,8,2016,3,2017-04-22,28,3,25,0,1851,1797,...,L,Bradford City,AFC Wimbledon,1.333333,0.333333,1.4,0.2,1.53,4.00,6.00
7,4,2015,4,2016-02-20,50,1,25,2,1693,1577,...,W,Barnet,AFC Wimbledon,1.000000,1.666667,1.6,1.6,3.10,3.40,2.05
8,9,2017,3,2018-01-27,28,0,25,4,1597,1754,...,W,Bradford City,AFC Wimbledon,1.666667,0.000000,2.0,0.2,2.25,3.20,3.20
9,13,2013,4,2013-11-30,29,3,25,0,1508,1598,...,L,Bristol Rovers,AFC Wimbledon,0.333333,1.333333,0.8,1.0,2.45,3.20,2.65

In [7]:
nextfix = psql.read_sql('EXEC GetUpcomingFixtures 1', conn)
nextfix.head(10)

  fixdate           hometeam                 awayteam
0  01-Dec     Crystal Palace                  Burnley
1  01-Dec  Huddersfield Town   Brighton & Hove Albion
2  01-Dec     Leicester City                  Watford
3  01-Dec    Manchester City          AFC Bournemouth
4  01-Dec   Newcastle United          West Ham United
5  01-Dec        Southampton        Manchester United
6  02-Dec            Arsenal        Tottenham Hotspur
7  02-Dec            Chelsea                   Fulham
8  02-Dec          Liverpool                  Everton
9  30-Nov       Cardiff City  Wolverhampton Wanderers

In [7]:
pypyodbc

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': ('42S02', "[42S02] [FreeTDS][SQL Server]Invalid object name 'sqlite_master'.")