In [1]:
import pandas as pd
 
import pandas.io.sql as psql
import pypyodbc

In [3]:
conn = pypyodbc.connect('DSN=dockersql;DATABASE=fixtures_v2;UID=sa;PWD=Passw0rd')

In [9]:
waitstats = psql.read_sql('SELECT top 10 * from vwCSV_3', conn)
waitstats.head(10)

,fixtureid,season,leagueid,fixdate,hometeamid,fthg,awayteamid,ftag,ht_elo_prev,at_elo_prev,...,awayteamresult,hometeam,awayteam,fthg_3,ftag_3,fthg_5,ftag_5,homeodds,drawodds,awayodds
0,1,2013,4,2014-05-03,49,3,25,2,1645,1761,...,L,Accrington Stanley,AFC Wimbledon,0,1,2,1,2.37,3.3,3.00
1,2,2014,4,2014-09-13,49,1,25,0,1481,1519,...,L,Accrington Stanley,AFC Wimbledon,1,1,1,1,2.62,3.4,2.55
2,3,2015,4,2015-10-20,49,3,25,4,1476,1479,...,W,Accrington Stanley,AFC Wimbledon,2,2,1,1,2.50,3.3,2.62
3,4,2015,4,2016-02-20,50,1,25,2,1620,1687,...,W,Barnet,AFC Wimbledon,1,0,1,1,3.50,3.4,2.05
4,5,2016,3,2017-03-04,4,1,25,1,1650,1749,...,D,Bolton Wanderers,AFC Wimbledon,2,0,1,1,2.00,3.3,3.80
5,6,2017,3,2017-09-16,26,0,25,1,1623,1459,...,W,Blackburn Rovers,AFC Wimbledon,2,1,1,1,1.61,3.7,5.50
6,7,2017,3,2017-09-02,27,1,25,0,1544,1507,...,L,Blackpool,AFC Wimbledon,2,0,1,0,2.35,3.1,3.10
7,8,2016,3,2017-04-22,28,3,25,0,1817,1810,...,L,Bradford City,AFC Wimbledon,1,0,1,0,1.55,3.8,6.00
8,9,2017,3,2018-01-27,28,0,25,4,1557,1832,...,W,Bradford City,AFC Wimbledon,1,2,2,2,2.30,3.1,3.20
9,10,2015,4,2016-03-08,29,3,25,1,1669,1649,...,L,Bristol Rovers,AFC Wimbledon,1,0,1,0,2.20,3.3,3.30

In [5]:
df = pd.DataFrame({'name' : ['User 1', 'User 2', 'User 3']})

In [7]:
df.to_sql('users', con=conn)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': ('42S02', "[42S02] [FreeTDS][SQL Server]Invalid object name 'sqlite_master'.")